{% extends 'base.html.twig' %}


{% block title %}
    Pedido
{% endblock %}


{% block body %}

<div class="container mt-4">

    <h1>
        Pedido #{{ pedido.number }}
    </h1>


    <div class="card shadow">

        <div class="card-body">


            <h4>
                Cliente
            </h4>


            <p>
                {{ pedido.customerName }}
            </p>


            <p>
                {{ pedido.customerEmail }}
            </p>


            <hr>


            <h4>
                Informações
            </h4>


            <p>
                Valor:
                <strong>
                    R$ {{ pedido.totalAmount }}
                </strong>
            </p>


            <p>
                Status:

                <span class="badge bg-primary">
                    {{ pedido.status }}
                </span>

            </p>

            <form 
                method="post"
                action="{{ path('app_pedido_status', {id: pedido.id}) }}">

                <select 
                    name="status" 
                    class="form-select">

                    <option value="AGUARDANDO_PAGAMENTO">
                        Aguardando pagamento
                    </option>

                    <option value="PAGO">
                        Pago
                    </option>

                    <option value="EM_TRANSPORTE">
                        Em transporte
                    </option>

                    <option value="ENTREGUE">
                        Entregue
                    </option>

                    <option value="CANCELADO">
                        Cancelado
                    </option>

                </select>


                <button 
                    class="btn btn-success mt-2">

                    Alterar status

                </button>

            </form>
        </div>

    </div>

</div>

{% endblock %}